html{
    box-sizing:border-box;
}
*,*::before,*::after{
    box-sizing:inherit;
}
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: bold;
}
.cart-title{
    padding:3rem 0;
    letter-spacing: 5px;
}
.order-details{
    flex-basis: 70%;
    box-shadow: 0px 1px 5px var(--mid-gray);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 2rem;
}
.order-details-title{
    font-size: 1.5rem;
    padding-bottom:20px ;
    border-bottom: 1px solid var(--light-gray);
}
.order-details-product{
    margin-top: 20px;
}
.order-details-product-img{
    flex-basis: 25%;
    height: 200px;
}
.order-details-product-img img{
    width: 100%;
    max-height: 100%;
}
.order-details-product-data{
    flex-basis: 50%;
    padding: 0 1rem;
    font-size: 1.5rem;
}
.order-details-product-data > div:first-child{
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.order-details-product-actions{
    flex-basis: 25%;
}
.order-details-product-remove{
    margin-top: 1rem;
}
.order-details-product-quantity>div:first-child{
    margin-bottom: .5rem;
}
.price-details{
    flex-basis: 30%;
    margin-left:2rem;
    gap: 1.5rem;
    align-self: flex-start;
    position: sticky;
    top: 100px;
}
.price-details-box{
    box-shadow: 0px 1px 5px var(--mid-gray);
    padding: 20px;
    border-radius: 20px;
}
.continue-shopping-btn{
    color: white;
    flex-basis: 60%;
}
.checkout-btn{
    flex-basis: 37%;
}
